![Logo](https://avatars1.githubusercontent.com/u/46189175?s=400&u=44752d5acd9de2cacf9ded7cdab819cd099a7213&v=4)

# Info

Information about iobroker-community-adapters organization

# Description

It's a github organization for iobroker adapters wich are manged by the community.

Goal is to help each other with the adapter development, so repositories don't get stale and keep alive.

# How to become a member

Activate 2FA for your Github and npmjs account, this is a must have.
Then Click [HERE](https://github.com/iobroker-community-adapters/info/issues/new?assignees=Jey-Cee&labels=new+member&template=please-add-me-as-member.md&title=Please+add+me+as+a+member) and fill out the template.
You will receive two invitation emails one for Github and one for npmjs.com.

# Chat

- Prefered Chat on Discord: https://discord.gg/vmVYqPV (german)
- Chat on Telegram : https://t.me/joinchat/EdtEphZDh1lp4bO8BoYqfA (german) synced with discord channel
- Chat on Telegram: https://t.me/joinchat/FungexBCt2Vv_mjwtAU0pQ (english)

# Requirements for repositories

Your repositorie(s) has to be already in the stable or minimum in latest repository for ioBroker. There are many adapters on Github that have not been released or ready to use, for this case you can ask for help to make it ready/stable and bring it to this organization.

# Technical information

## Add git repo to organization

1. Go to your GitHub repo that you want to move
2. Change URLs in io-package.json, package.json and README.md form your GitHub repo to Org repo
3. Settings -> Danger Zone -> Transfer Ownership
4. Click on 'Transfer'
5. Type 'iobroker-community-adapters' as New owner
6. Add the organization as an owner of your npm packages, for help look below
7. Change the url of your repo via pull req at https://github.com/ioBroker/ioBroker.repositories
8. Thats it

## Add organization as npm owner

After you have accepted the membership, we have to add you to the developers team befor it is possible to grant the org acces to the package. (Thank you npm for this horrible right managment for org's)
Then use the link below and enter the package name (iobroker.<adaptername>) and hit "Add existing package".

    https://www.npmjs.com/settings/iobroker-community-adapters/teams/team/developers/access

Alternative use the CLI:

```bash
npm access grant read-write iobroker-community-adapters:developers iobroker.<adaptername>
```

## Maintainers

List of maintainers for every adapter in iobroker-community-adapters

### Adapters in beta (and stable) repository

| | Adapter | Beta | Stable | Installed | Teststatus | Maintainer |
|-|---------|-----:|-------:|----------:|------------|------------|
{{#adapters}}
| <img src="{{{icon}}}" alt="{{title}}" width="25" /> | [{{adapterName}}]({{{url}}}) | v{{version.beta}} | v{{version.stable}} | {{installations}} | ![Test&Release](https://github.com/iobroker-community-adapters/iobroker.{{adapterName}}/workflows/Test%20and%20Release/badge.svg) | {{{maintainer}}} |
{{/adapters}}

### Unlisted adapters

| Adapter | Teststatus | Maintainer |
|---------|------------|------------|
{{#adaptersUnlisted}}
| [{{adapterName}}]({{{url}}}) | ![Test&Release](https://github.com/iobroker-community-adapters/iobroker.{{adapterName}}/workflows/Test%20and%20Release/badge.svg) | {{{maintainer}}} |
{{/adaptersUnlisted}}

----

*Generated at: {{generatedAt}}*
